@font-face {
    font-family: "open_sans_Light";
    src: url("fonts/open_sans/OpenSans-Light.ttf");
}

@font-face {
    font-family: "open_sans_Regular";
    src: url("fonts/open_sans/OpenSans-Regular.ttf");
}