@import "fonts";
@import "color";
@import "main";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#header {
  width: 98% !important;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
  font-family: "open_sans_Regular";
  overflow: hidden;

  &-head {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    padding-top: 8px;
    font-size: 20px;
    font-weight: 600;
  }

  &-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-family: "open_sans_Regular";
    transition: all 0.5s ease-in-out;

    a {
      padding: 4px 8px;
      transition: 0.2s cubic-bezier(0.58, 0.08, 0.25, 0.99);

      &:hover {
        background-color: #252525;
        color: #d6d6d6;
      }
    }
  }

  @media (max-width: 500px) {
    & {
      position: absolute;
      width: 100vw;
      flex-direction: column;

      &-items {
        flex-direction: column;
        justify-content: space-between;
        height: 80vh;
        position: relative;
        background-color: #d6d6d6;
        width: 100vw;
        z-index: 998;
        top: 20px;
        left: 500px;
        padding-top: 40px;
        a {
          width: 100%;
        }
      }
    }
  }
}
.active {
  left: 0px !important;
}
.hambg {
  width: 50px;
  display: none;
  margin-right: 10px;

  input {
    opacity: 0;
    position: relative;
    z-index: 999;
  }
  label {
    width: 30px;
    height: 20px;
  }
  span {
    display: none;
    background-color: $text;
    height: 4px;
    width: 30px;
    margin: 2px 0px;
  }
  @media (max-width: 500px) {
    & {
      display: block;
      input {
        display: block;
      }
      span {
        display: block;
      }
    }
  }
}
.banner {
  position: relative;

  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    @media (max-width: 500px) {
      & {
        height: 100vh !important;
      }
    }

    p {
      font-size: 90px;
      border: 4px solid #252525;
      padding: 2px 20px;

      span {
        font-family: "open_sans_Light";
      }
    }
  }

  &-ico {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-120%);

    img {
      width: 40px;
      height: 60px;
      -webkit-animation: upDown 4s infinite;
      animation: upDown 4s infinite;
    }
  }
  @media (max-width: 850px) {
    & {
      p {
        font-size: 60px;
        text-align: center;
      }
    }
  }

  @media (max-width: 600px) {
    & {
      p {
        font-size: 40px;
      }
      &-ico {
        display: none;
      }
    }
  }
}

@-webkit-keyframes upDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  50% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  50% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.about {
  min-height: 100vh;
  padding: 2%;
  display: grid;
  grid-template-columns: 2fr 1fr;

  &-cont {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    h1 {
      font-size: 50px;
    }
  }

  &-img {
    background-image: url(../images/about-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4px;
  }

  @media (max-width: 768px) {
    & {
      grid-template-columns: 1fr;

      &-cont {
        flex: none;
        font-size: 14px !important;
      }
      h1 {
        font-size: 30px;
        margin: 10px 0px;
      }
      &-img {
        display: none;
      }
    }
  }
}

.skills {
  padding-top: 20px;
  max-width: 80%;
  margin: 0 auto;

  h1 {
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    padding: 4px;
  }

  &-quotes {
    position: relative;
    font-size: 30px;
    text-align: center;

    .down {
      background-image: url("../images/quote-down.svg");
    }

    .up {
      right: 0px;
      background-image: url("../images/quote-up.svg");
    }

    span:last-child {
      font-size: 20px;
      background-color: #252525;
      color: #d6d6d6;
      padding: 6px;
    }

    &_icon {
      position: absolute;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 30px;
      width: 30px;
      opacity: 0.5;
      top: -10px;
    }
  }
  &-items {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(4, 100px);
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-gap: 10px;

    li {
      display: inherit;
      align-items: center;
      background-color: #d6d6d6;
      color: #252525;
      border: 2px solid #252525;
      transition: 0.5s ease;

      &:hover {
        background-color: #252525;
        color: #d6d6d6;
        box-shadow: 2px 2px 20px #252525;
      }
    }
  }

  @media (max-width: 1100px) {
    & {
      max-width: 90%;
    }
    &-items {
      grid-template-columns: repeat(3, 200px);
      grid-template-rows: repeat(7, 100px);
    }
  }

  @media (max-width: 600px) {
    &-items {
      grid-template-columns: repeat(2, 200px);
      grid-template-rows: repeat(10, 100px);
    }
  }

  @media (max-width: 426px) {
    &-items {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(20, 100px);
    }
  }
}

.exp {
  padding: 20px 0px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 40px;
  }
  &-cont {
    font-size: 16px;

    h3 {
      padding: 10px 0px;
      text-decoration: underline;
    }

    p {
      text-indent: 50px;
    }
  }
}

#footer {
  background-color: #252525;
}

.footer {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px 0px;
  color: #d6d6d6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  h2 {
    text-decoration: underline;
    padding: 10px 0px;
  }

  ul li {
    padding: 10px 0px;

    a {
      border-radius: 6px;
      color: #d6d6d6;
      padding: 4px 6px;

      &:hover {
        background-color: #d6d6d6;
        color: #252525 !important;
      }
    }
  }
  @media (max-width: 768px) {
    & {
      min-width: 90%;
    }
  }
  @media (max-width: 600px) {
    & {
      min-width: 90%;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr;
    }
  }
}
